<% @unassigned.each do |appointment| %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Pending</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-lg-3 " align="center"> <img alt="Red Ex" src="http://vignette2.wikia.nocookie.net/louser/images/4/43/X_icon.png/revision/latest?cb=20130220221716" class="img-circle img-responsive"> </div>

      <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>Date:</td>
              <td><%= appointment.date.strftime("%d/%m/%Y") %></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><%= appointment.owner.location %></td>
            </tr>
          </tr>
        </tbody>
      </table>

      <%= form_for(:appointment, url: appointments_path, method: 'delete', html: {class: "form-signin"}) do |f| %>
        <%= hidden_field_tag :id, appointment.id %>
        <%= f.submit "Cancel Job", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
