<h1 class="center">Your Appointments</h1>
<% current_user.appointments.each do |appointment| %>

<p>
  <%= appointment.date %>
  <%= appointment.owner.location %>
  <% if sitter? %>
  <%= appointment.owner.dog %>
  <% end %>
  <%= form_for(:appointment, url: appointments_path, method: 'delete', html: {class: "form-signin"}) do |f| %>
      <%= hidden_field_tag :id, appointment.id %>
      <%= f.submit "Cancel Job", class: "btn btn-primary" %>
      <% end %>
</p>


<% end %>
