<h1>Board</h1>

<% if !sitter? %>

<%= form_for @appointment, html: {class: "form-signin"} do |f| %>

    <%= f.hidden_field :owner_id, value: @current_user.id %>

    <%= f.label :date, class: "sr-only" %>
    <%= f.date_field :date, class: "form-control" %>

    <br>
    <%= f.submit "Find Sitter", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
<% end %>

<% @appointments.each do |appointment| %>

<div>
  <h3><%= appointment.owner.name %></h3>
  <p><%= appointment.date %></p>
  <p><%= appointment.owner.location %></p>
</div>


<% end %>

