<%= form_for @appointment, html: {class: "form-signin"} do |f| %>

<%= f.hidden_field :owner_id, value: current_user.id %>

<%= f.label :date, class: "sr-only" %>
<%= f.date_field :date, class: "form-control" %>

<br>
<div class="center">
  <%= f.submit "Find Sitter", class: "btn btn-primary" %>
</div>

<% end %>
