<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><%= link_to 'Home', root_url %></li>
      <% if logged_in? %>
      <li role="presentation"><%= link_to 'Profile', profile_path %></li>
      <li role="presentation"><%= link_to 'Board', board_path %></li>
      <li role="presentation"><%= link_to 'Appointments', appointments_path %></li>
      <li role="presentation"><%= link_to 'Log out', logout_path, method: 'delete' %></li>
      <li role="presentation"><%= link_to "Hi, #{@current_user.name}" %></li>
      <% else %>
      <li role="presentation"><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
  </nav>
  <h3 class="text-muted">Pet Sitters</h3>
</div>
